[maomuffy]
name=MAO Muffy RadiusDesk Repo - $basearch
baseurl=http://maomuffy.com/yum/el{{ ansible_distribution_major_version }}/{{ ansible_architecture }}/Packages/
enabled=1
gpgcheck=1
gpgkey=http://maomuffy.com/yum/el{{ ansible_distribution_major_version }}/RPM-GPG-KEY-maomuffy