[maomuffy]
name=MAO Muffy RadiusDesk Repo - $basearch
baseurl=http://yum.maomuffy.com/el{{ ansible_distribution_major_version }}/{{ ansible_architecture }}/Packages/
enabled=1
gpgcheck=1
gpgkey=http://yum.maomuffy.com/el{{ ansible_distribution_major_version }}/{{ ansible_architecture }}/RPM-GPG-KEY-maomuffy