HS_WANIF={{ coovachilii_wan_if }}
HS_LANIF={{ coovachilii_lan_if }}
HS_NETWORK={{ coovachilii_network_addr }}
HS_NETMASK={{ coovachilii_network_subnet }}
HS_UAMLISTEN={{ coovachilii_server_ip }}
HS_UAMPORT={{ coovachilii_uam_port }}
HS_DNS1={{ coovachilii_dns_server1 }}
HS_DNS2={{ coovachilii_dns_server2 }}
HS_UAMUIPORT=4990
HS_NASID=localhost
HS_RADIUS={{ coovachilii_radius_server1 }}
HS_RADIUS2={{ coovachilii_radius_server2 }}
HS_RADSECRET={{ freeradius_secret }}
HS_UAMSECRET={{ coovachilii_uam_secret }}
HS_UAMALIASNAME=chilli
HS_SSID="Struisbaai"
HS_NASIP=127.0.0.1
HS_UAMSERVER=$HS_UAMLISTEN
HS_UAMFORMAT=http://\$HS_UAMLISTEN/cake2/rd_cake/dynamic_details/chilli_browser_detect/
HS_MACAUTH=on
HS_TCP_PORTS="80 23 443 8000"
HS_MODE=hotspot
HS_TYPE=chillispot
HS_WWWDIR=/etc/chilli/www
HS_WWWBIN=/etc/chilli/wwwsh
HS_PROVIDER=RD-Installer
HS_PROVIDER_LINK=http://muffycompo.github.io/radiusdesk-installer/
HS_LOC_NAME="RD Installer"
HS_COAPORT={{ coovachilli_coaport }}
